.root {
    -fx-background-color: #222;
    -fx-background-radius: 28;
}

.mainPane {
    -fx-background-color: linear-gradient(to right, #c33764, #1d2671);
    -fx-background-radius: 15 15 25 25;
}

.highlight {
    -fx-background-color: #00000025;
    -fx-background-radius: 15;
}